USE [master]
GO
/****** Object:  Database [DemoDB3]    Script Date: 06-02-2022 09:45:40 ******/
CREATE DATABASE [DemoDB3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoDB3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DemoDB3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoDB3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DemoDB3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoDB3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoDB3]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 06-02-2022 09:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[sno] [int] NULL,
	[girls] [int] NULL,
	[boys] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Table_1] ([sno], [girls], [boys]) VALUES (1, 587, 626)
INSERT [dbo].[Table_1] ([sno], [girls], [boys]) VALUES (2, 602, 643)
INSERT [dbo].[Table_1] ([sno], [girls], [boys]) VALUES (3, 627, 647)
GO
USE [master]
GO
