USE [master]
GO
/****** Object:  Database [KruskalWallisDB]    Script Date: 17-Mar-22 8:55:48 AM ******/
CREATE DATABASE [KruskalWallisDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KruskalWallisDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KruskalWallisDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KruskalWallisDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KruskalWallisDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KruskalWallisDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KruskalWallisDB]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 17-Mar-22 8:55:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[SNo] [int] NULL,
	[NoExercise] [int] NULL,
	[Exercise_20M] [int] NULL,
	[Exercise_40M] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Table_1] ([SNo], [NoExercise], [Exercise_20M], [Exercise_40M]) VALUES (1, 23, 22, 59)
INSERT [dbo].[Table_1] ([SNo], [NoExercise], [Exercise_20M], [Exercise_40M]) VALUES (2, 26, 27, 66)
INSERT [dbo].[Table_1] ([SNo], [NoExercise], [Exercise_20M], [Exercise_40M]) VALUES (3, 51, 39, 38)
GO
USE [master]
GO
